@font-face {
    font-family: 'Segoe<3';
    src: url('../fonts/segoe-ui-light.woff');
}

body {
    background-color: antiquewhite;
    margin: 0px auto;
    text-align: center;
    font-family: 'Segoe<3';
    color: gray;
    height: auto;
}

.wrap {
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
}

.topSection {
    width: 100%;
    align-content: center;
    vertical-align: middle;
    margin-bottom: 40px;
}

    .topSection div {
        display: inline-block;
    }

        .topSection div p {
            text-align: left;
            font-size: 50px;
        }

.bottomSection {
    width: 100%;
}

.span6 {
    margin: 5px;
    width: 350px;
    vertical-align: middle;
    display: table;

}
