@font-face {
    font-family: 'Segoe';
    src: url('../fonts/segoe-ui-light.woff');
}

body {
    margin: 0px auto;
    text-align: center;
    font-family: 'Segoe';
    color: gray;
    background: url(../img/background.jpg) no-repeat;
    background-size: 100%;
    background-position:  top left;
    background-attachment : fixed;

}

@media (max-width : 1400px) {

    html, body {
        height: 100%;
        background-size: auto 100%;
    }
}
