.header {
    height: 50px;
    font-size: 30px;
    text-align: center;
}

    .header a {
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
        width: 180px;
        font-size: 30px;
        text-align: center;
        color: gray;
        text-decoration: none;
        display: block;
    }

        .header a:hover {
            color: darkblue;
            border-bottom-color: seagreen;
        }

