@media (min-width : 1170px) {

    .row-4 {
        display: flex;
        padding-left: 100px;
    }
}

@media (min-height : 800px)
{
    .title
    {
        padding-top : 100px;
        padding-bottom : 150px;
    }
}

a:link {
    text-decoration : none;
}

front
{
    font-size : 40px !important; 
}